/* Global Styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;   /* 1 rem = 10 px s */
}


body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.6rem;
}

li,label,input,button,p{
    font-size: 2rem;
}

h2{
    font-size: 4.8rem;
}

h3{
    font-size: 3rem;
    font-weight: normal;
}

h4,h5{
    font-size: 2.8rem;
}

a{
    color: white;
    text-decoration: none;
}
button{
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 1s ease;
}
button:hover{
    background: #1f2d3e ;
}

/* Nav Section */
.main-head{
    background-color: #131c27;
    color: white;
}

nav{
    padding: 2rem;
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    flex: 3 1 40rem;           /* for spacing Between List Elements */
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo{
    flex: 2 1 40rem;    /* for spacing Between Logo */
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

.hero{
    min-height: 90vh;
    background :linear-gradient(rgba(0,0,0,0.5), transparent), url("/media/img/landing-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3{
    padding: 5rem;
    text-shadow: 5px 5px 5px black;
}
.hero h2{
    text-shadow: 5px 5px 5px black;
}

/* Forms Section */

.form-style{
    min-height: 90vh;
    background :linear-gradient(rgba(0,0,0,0.5), transparent), url("/media/img/hotel-booking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    text-shadow: 5px 5px 5px black;
}





div.elem-group {
    margin: 2rem 2rem;
    
  }
  
  div.elem-group.inlined {
    width: 50%;
    display: inline-block;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 2rem;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 2rem;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  button:hover {
    border: 2px solid black;
  }


  .footer{
    min-height: 10rem;
background-color: #1f2d3e;
color:#fff;
font-size:1rem;
text-align: center;
padding-top: 3rem;

}



@media screen and (max-width:1050px){
    html{
        font-size: 45%;
    }
        nav{
            text-align: center;
        }
        nav li{
            margin-left: 1rem;
        }
        #logo{
          padding: 2rem;
        }
        .form-style{
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
        }
        .footer{
            font-size: 1rem;
        }
    }
    